resources/providers
resources/*.zip
resources/diagnoses.csv
resources/patients.csv
resources/providers.csv
terraform.tfstate
.terraform*
etl/profiles.yml
staging/*.csv
kubeconfig.yml
prod/publish.state
