etl:
  outputs:
    dev:
      dbname: {{database.database}}
      host: {{database.host}}
      pass: {{database.password}}
      port: {{database.port}}
      schema: public
      threads: 10
      type: postgres
      user: {{database.user}}
      retries: 3
      keepalives_idle: 10
  target: dev
